In [1]:
# import dependencies
import requests
import json
import pandas as pd
import datetime as dt
import numpy as np
from pprint import pprint
from collections import defaultdict

In [2]:
# import modules
from config import conn_str  
from config import api_key
from dboperations import *

In [3]:
conn = connect2db(conn_str)

Connection Succesful

In [4]:
# set flight_dates array for api parameter

start_date = dt.date(2021, 4, 24)
number_of_days = 90 #for testing assigned 3 will be past 3 months value

flight_dates = []
city_airports = ['LAX', 'ATL'] 
i = 1

for day in range(number_of_days): 
    flight_date = (start_date - dt.timedelta(days = day)).isoformat()
    flight_dates.append(flight_date)

# print(flight_dates)

In [5]:
# get aviationstack.com api response for flight dates
airlines = defaultdict(list)
flights = defaultdict(list)
airports = defaultdict(list)
#departures = defaultdict(list)
#arrivals = defaultdict(list)

In [6]:
# arr_iata arrivals to cities
for city in city_airports:
    
    for flight_date in flight_dates:

        params = {'access_key': api_key, 'arr_iata': city, 'flight_date': flight_date}

        api_link = requests.get('https://api.aviationstack.com/v1/flights', params) 
        response = api_link.json()

        for data in response['data']: 
            if data['flight_status'] == 'landed' and data['flight']['number'] != None:  #canceled flight number is null 2021-04-21
                i += 1
                airlines['airline'].append(data['airline']['name'])
                airlines['iata'].append(data['airline']['iata'])
                airlines['icao'].append(data['airline']['icao'])
    
                flights['flight_number'].append('arr' + str(i) + '_' + data['flight']['number']) #May1
                flights['iata'].append(data['flight']['iata'])
                flights['icao'].append(data['flight']['icao'])  
    
                flights['departure_airport'].append(data['departure']['airport'])
                flights['departure_timezone'].append(data['departure']['timezone'])
                flights['departure_iata'].append(data['departure']['iata'])
                flights['departure_icao'].append(data['departure']['icao'])
                flights['departure_terminal'].append(data['departure']['terminal'])
                flights['departure_gate'].append(data['departure']['gate'])
                flights['departure_delay'].append(data['departure']['delay'])
                flights['departure_scheduled'].append(data['departure']['scheduled'])
                flights['departure_estimated'].append(data['departure']['estimated'])
                flights['departure_actual'].append(data['departure']['actual'])
                flights['departure_estimated_runway'].append(data['departure']['estimated_runway'])
                flights['departure_actual_runway'].append(data['departure']['actual_runway'])
    
                flights['arrival_airport'].append(data['arrival']['airport'])
                flights['arrival_timezone'].append(data['arrival']['timezone'])
                flights['arrival_iata'].append(data['arrival']['iata'])
                flights['arrival_icao'].append(data['arrival']['icao'])
                flights['arrival_terminal'].append(data['arrival']['terminal'])
                flights['arrival_gate'].append(data['arrival']['gate'])
                flights['arrival_baggage'].append(data['arrival']['baggage'])
                flights['arrival_delay'].append(data['arrival']['delay'])
                flights['arrival_scheduled'].append(data['arrival']['scheduled'])
                flights['arrival_estimated'].append(data['arrival']['estimated'])
                flights['arrival_actual'].append(data['arrival']['actual'])
                flights['arrival_estimated_runway'].append(data['arrival']['estimated_runway'])
                flights['arrival_actual_runway'].append(data['arrival']['actual_runway'])         
                
                flights['airline'].append(data['airline']['name'])

In [7]:
# dep_iata departures from cities
for city in city_airports:
    
    for flight_date in flight_dates:

        params = {'access_key': api_key, 'dep_iata': city, 'flight_date': flight_date}

        api_link = requests.get('https://api.aviationstack.com/v1/flights', params) 
        response = api_link.json()

        for data in response['data']: 
            if data['flight_status'] == 'landed' and data['flight']['number'] != None:  #canceled flight number is null 2021-04-21
                i += 1
                airlines['airline'].append(data['airline']['name'])
                airlines['iata'].append(data['airline']['iata'])
                airlines['icao'].append(data['airline']['icao'])
    
                flights['flight_number'].append('dep' + str(i) + '_' + data['flight']['number']) #May1
                flights['iata'].append(data['flight']['iata'])
                flights['icao'].append(data['flight']['icao'])  
    
                flights['departure_airport'].append(data['departure']['airport'])
                flights['departure_timezone'].append(data['departure']['timezone'])
                flights['departure_iata'].append(data['departure']['iata'])
                flights['departure_icao'].append(data['departure']['icao'])
                flights['departure_terminal'].append(data['departure']['terminal'])
                flights['departure_gate'].append(data['departure']['gate'])
                flights['departure_delay'].append(data['departure']['delay'])
                flights['departure_scheduled'].append(data['departure']['scheduled'])
                flights['departure_estimated'].append(data['departure']['estimated'])
                flights['departure_actual'].append(data['departure']['actual'])
                flights['departure_estimated_runway'].append(data['departure']['estimated_runway'])
                flights['departure_actual_runway'].append(data['departure']['actual_runway'])
    
                flights['arrival_airport'].append(data['arrival']['airport'])
                flights['arrival_timezone'].append(data['arrival']['timezone'])
                flights['arrival_iata'].append(data['arrival']['iata'])
                flights['arrival_icao'].append(data['arrival']['icao'])
                flights['arrival_terminal'].append(data['arrival']['terminal'])
                flights['arrival_gate'].append(data['arrival']['gate'])
                flights['arrival_baggage'].append(data['arrival']['baggage'])
                flights['arrival_delay'].append(data['arrival']['delay'])
                flights['arrival_scheduled'].append(data['arrival']['scheduled'])
                flights['arrival_estimated'].append(data['arrival']['estimated'])
                flights['arrival_actual'].append(data['arrival']['actual'])
                flights['arrival_estimated_runway'].append(data['arrival']['estimated_runway'])
                flights['arrival_actual_runway'].append(data['arrival']['actual_runway'])      
                
                flights['airline'].append(data['airline']['name'])

In [8]:
# pprint(list (flights.items()))

In [9]:
# create dataframes from dictionaries
airlines_df = pd.DataFrame(airlines)
flights_df = pd.DataFrame(flights) 
flights_df.head()

,flight_number,iata,icao,departure_airport,departure_timezone,departure_iata,departure_icao,departure_terminal,departure_gate,departure_delay,...,arrival_terminal,arrival_gate,arrival_baggage,arrival_delay,arrival_scheduled,arrival_estimated,arrival_actual,arrival_estimated_runway,arrival_actual_runway,airline
0,arr2_265,AS265,ASA265,Manzanillo,America/Mexico_City,ZLO,MMZO,1,HG,6.0,...,6,67,None,NaN,2021-04-24T15:53:00+00:00,2021-04-24T15:53:00+00:00,2021-04-24T15:42:00+00:00,2021-04-24T15:42:00+00:00,2021-04-24T15:42:00+00:00,Alaska Airlines
1,arr3_535,WN535,SWA535,Metropolitan Oak International,America/Los_Angeles,OAK,KOAK,2,26,7.0,...,1,18A,None,NaN,2021-04-24T20:00:00+00:00,2021-04-24T20:00:00+00:00,2021-04-24T19:35:00+00:00,2021-04-24T19:35:00+00:00,2021-04-24T19:35:00+00:00,Southwest Airlines
2,arr4_510,NK510,NKS510,Metropolitan Oak International,America/Los_Angeles,OAK,KOAK,1,7,9.0,...,5,56,None,NaN,2021-04-24T19:59:00+00:00,2021-04-24T19:59:00+00:00,2021-04-24T19:44:00+00:00,2021-04-24T19:44:00+00:00,2021-04-24T19:44:00+00:00,Spirit Airlines
3,arr5_215,UA215,UAL215,Denver International,America/Denver,DEN,KDEN,None,B47,11.0,...,7,75B,2,NaN,2021-04-24T13:10:00+00:00,2021-04-24T13:10:00+00:00,2021-04-24T12:59:00+00:00,2021-04-24T12:59:00+00:00,2021-04-24T12:59:00+00:00,United Airlines
4,arr6_3303,AS3303,ASA3303,Boise Air Terminal/Gowen Field,America/Boise,BOI,KBOI,None,C6,6.0,...,6,62,None,NaN,2021-04-24T14:05:00+00:00,2021-04-24T14:05:00+00:00,2021-04-24T13:47:00+00:00,2021-04-24T13:47:00+00:00,2021-04-24T13:47:00+00:00,Alaska Airlines

In [10]:
# flights_df['arrival_airport']

In [11]:
# flights_df['departure_airport']

In [12]:
# clean airline frame for table
airlines_df = airlines_df.dropna(subset = ['airline', 'iata', 'icao'])
airlines_df = airlines_df.drop_duplicates(subset = ['airline', 'iata', 'icao']) 
airlines_df.index = np.arange(1, len(airlines_df) + 1) #use index as airline id 
airlines_df.reset_index(inplace = True) 
airlines_df = airlines_df.rename(columns = {"index": "airline_id", "name": "airline"})

In [13]:
airlines_df.head()

   airline_id             airline iata icao
0           1     Alaska Airlines   AS  ASA
1           2  Southwest Airlines   WN  SWA
2           3     Spirit Airlines   NK  NKS
3           4     United Airlines   UA  UAL
4           5            Emirates   EK  UAE

In [14]:
# airline insert df to table
insertvalues(conn, "airlines", airlines_df)

Values Succesfully Insert To airlines

In [15]:
# create new frame for airports
# airpots from departures 
airports_d_df = flights_df[['departure_airport', 'departure_iata', 'departure_icao', 'departure_timezone']] 
airports_d_df = airports_d_df.rename(columns = {'departure_airport': 'airport', 'departure_timezone': 'timezone', \
                                                'departure_iata': 'iata', 'departure_icao': 'icao'}) 
airports_d_df = airports_d_df.drop_duplicates()

#airports from arrivals
airports_a_df = flights_df[['arrival_airport', 'arrival_iata', 'arrival_icao', 'arrival_timezone']]
airports_a_df = airports_a_df.rename(columns = {'arrival_airport': 'airport', 'arrival_timezone': 'timezone', \
                                                'arrival_iata': 'iata', 'arrival_icao': 'icao'}) 
airports_a_df = airports_a_df.drop_duplicates()
 
# combine
airports_df = pd.concat([airports_a_df, airports_d_df])

airports_df = airports_df.drop_duplicates(subset=['airport', 'iata', 'icao']) 

airports_df['airport'] = airports_df['airport'].str.replace("'", '') #special character replace

airports_df.index = np.arange(1, len(airports_df) + 1) #use index as airport id
airports_df.reset_index(inplace = True)
airports_df = airports_df.rename(columns = {"index": "airport_id"})

In [16]:
airports_df.head()

,airport_id,airport,iata,icao,timezone
0,1,Los Angeles International,LAX,KLAX,America/Los_Angeles
1,2,Hartsfield-jackson Atlanta International,ATL,KATL,America/New_York
2,3,Albuquerque International,ABQ,KABQ,America/Denver
3,4,Aguascalients,AGU,MMAS,America/Mexico_City
4,5,Auckland International,AKL,NZAA,Pacific/Auckland

In [17]:
print(airports_df.loc[(airports_df['airport'] == 'Chicago Ohare International')])

    airport_id                      airport iata  icao         timezone
70          71  Chicago Ohare International  ORD  KORD  America/Chicago

In [18]:
print(airports_df.loc[(airports_df['iata'] == 'LAX')])

   airport_id                    airport iata  icao             timezone
0           1  Los Angeles International  LAX  KLAX  America/Los_Angeles

In [19]:
# airport insert df to table
insertvalues(conn, "airports", airports_df)

Values Succesfully Insert To airports

In [20]:
list(flights_df.columns)

['flight_number',
 'iata',
 'icao',
 'departure_airport',
 'departure_timezone',
 'departure_iata',
 'departure_icao',
 'departure_terminal',
 'departure_gate',
 'departure_delay',
 'departure_scheduled',
 'departure_estimated',
 'departure_actual',
 'departure_estimated_runway',
 'departure_actual_runway',
 'arrival_airport',
 'arrival_timezone',
 'arrival_iata',
 'arrival_icao',
 'arrival_terminal',
 'arrival_gate',
 'arrival_baggage',
 'arrival_delay',
 'arrival_scheduled',
 'arrival_estimated',
 'arrival_actual',
 'arrival_estimated_runway',
 'arrival_actual_runway',
 'airline']

In [21]:
def find_airport_id(conn, airport):
    query = f"select airport_id from airports where airport = '{airport}'"
#     max_value = max_dict.get('max')
    airport_id = executestatement(conn, query).get('airport_id')
    return airport_id

In [22]:
def find_airline_id(conn, airline):
    query = f"select airline_id from airlines where airline = '{airline}'" 
    airline_id = executestatement(conn, query).get('airline_id')
    return airline_id

In [23]:
# departures
flights_d_df = flights_df[['flight_number', 'iata', 'icao', 'airline', 'departure_airport', \
                           'departure_terminal', 'departure_gate', \
                           'departure_delay', 'departure_scheduled', \
                           'departure_estimated', 'departure_actual', \
                           'departure_estimated_runway', 'departure_actual_runway']]
 
flights_d_df = flights_d_df.assign(flight_type = 'DEPARTURE') #flight type  
flights_d_df = flights_d_df.assign(airline_id = None)

#special character replace
flights_d_df['departure_airport'] = flights_d_df['departure_airport'].str.replace("'", '')

flights_d_df['airport_id'] = flights_d_df['departure_airport']. \
                             apply(lambda element: find_airport_id(conn, element )) 

# find airline
flights_d_df['airline'] = flights_d_df['airline'].str.replace("'", '')

flights_d_df['airline_id'] = flights_d_df['airline']. \
                             apply(lambda element: find_airline_id(conn, element ))

flights_d_df = flights_d_df.rename(columns = {'departure_terminal': 'terminal', 'departure_gate': 'gate', \
                                              'departure_delay': 'delay', 'departure_scheduled': 'scheduled', \
                                              'departure_estimated': 'estimated', 'departure_actual': 'actual', \
                                              'departure_estimated_runway': 'estimated_runway', \
                                              'departure_actual_runway': 'actual_runway'  })  
flights_d_df.head()

,flight_number,iata,icao,airline,departure_airport,terminal,gate,delay,scheduled,estimated,actual,estimated_runway,actual_runway,flight_type,airline_id,airport_id
0,arr2_265,AS265,ASA265,Alaska Airlines,Manzanillo,1,HG,6.0,2021-04-24T14:35:00+00:00,2021-04-24T14:35:00+00:00,2021-04-24T14:40:00+00:00,2021-04-24T14:40:00+00:00,2021-04-24T14:40:00+00:00,DEPARTURE,1,213
1,arr3_535,WN535,SWA535,Southwest Airlines,Metropolitan Oak International,2,26,7.0,2021-04-24T18:35:00+00:00,2021-04-24T18:35:00+00:00,2021-04-24T18:42:00+00:00,2021-04-24T18:42:00+00:00,2021-04-24T18:42:00+00:00,DEPARTURE,2,214
2,arr4_510,NK510,NKS510,Spirit Airlines,Metropolitan Oak International,1,7,9.0,2021-04-24T18:40:00+00:00,2021-04-24T18:40:00+00:00,2021-04-24T18:49:00+00:00,2021-04-24T18:49:00+00:00,2021-04-24T18:49:00+00:00,DEPARTURE,3,214
3,arr5_215,UA215,UAL215,United Airlines,Denver International,None,B47,11.0,2021-04-24T11:44:00+00:00,2021-04-24T11:44:00+00:00,2021-04-24T11:54:00+00:00,2021-04-24T11:54:00+00:00,2021-04-24T11:54:00+00:00,DEPARTURE,4,26
4,arr6_3303,AS3303,ASA3303,Alaska Airlines,Boise Air Terminal/Gowen Field,None,C6,6.0,2021-04-24T12:45:00+00:00,2021-04-24T12:45:00+00:00,2021-04-24T12:50:00+00:00,2021-04-24T12:50:00+00:00,2021-04-24T12:50:00+00:00,DEPARTURE,1,11

In [24]:
# arrivals
flights_a_df = flights_df[['flight_number', 'iata', 'icao', 'airline', 'arrival_airport', \
                           'arrival_terminal', 'arrival_gate', \
                           'arrival_baggage', 'arrival_delay', 'arrival_scheduled', \
                           'arrival_estimated', 'arrival_actual', \
                           'arrival_estimated_runway', 'arrival_actual_runway' ]] 

flights_a_df = flights_a_df.assign(flight_type = 'ARRIVAL') #flight type  
flights_a_df = flights_a_df.assign(airline_id = None)

#special character replace
flights_a_df['arrival_airport'] = flights_a_df['arrival_airport'].str.replace("'", '')

flights_a_df['airport_id'] = flights_a_df['arrival_airport']. \
                             apply(lambda element: find_airport_id(conn, element )) 
# find airline
flights_a_df['airline'] = flights_a_df['airline'].str.replace("'", '')

flights_a_df['airline_id'] = flights_a_df['airline']. \
                             apply(lambda element: find_airline_id(conn, element ))

flights_a_df = flights_a_df.rename(columns = {'arrival_terminal': 'terminal', 'arrival_gate': 'gate', \
                                              'arrival_baggage': 'baggage', \
                                              'arrival_delay': 'delay', 'arrival_scheduled': 'scheduled', \
                                              'arrival_estimated': 'estimated', 'arrival_actual': 'actual', \
                                              'arrival_estimated_runway': 'estimated_runway', \
                                              'arrival_actual_runway': 'actual_runway'  }) 
flights_a_df.head()

,flight_number,iata,icao,airline,arrival_airport,terminal,gate,baggage,delay,scheduled,estimated,actual,estimated_runway,actual_runway,flight_type,airline_id,airport_id
0,arr2_265,AS265,ASA265,Alaska Airlines,Los Angeles International,6,67,None,NaN,2021-04-24T15:53:00+00:00,2021-04-24T15:53:00+00:00,2021-04-24T15:42:00+00:00,2021-04-24T15:42:00+00:00,2021-04-24T15:42:00+00:00,ARRIVAL,1,1
1,arr3_535,WN535,SWA535,Southwest Airlines,Los Angeles International,1,18A,None,NaN,2021-04-24T20:00:00+00:00,2021-04-24T20:00:00+00:00,2021-04-24T19:35:00+00:00,2021-04-24T19:35:00+00:00,2021-04-24T19:35:00+00:00,ARRIVAL,2,1
2,arr4_510,NK510,NKS510,Spirit Airlines,Los Angeles International,5,56,None,NaN,2021-04-24T19:59:00+00:00,2021-04-24T19:59:00+00:00,2021-04-24T19:44:00+00:00,2021-04-24T19:44:00+00:00,2021-04-24T19:44:00+00:00,ARRIVAL,3,1
3,arr5_215,UA215,UAL215,United Airlines,Los Angeles International,7,75B,2,NaN,2021-04-24T13:10:00+00:00,2021-04-24T13:10:00+00:00,2021-04-24T12:59:00+00:00,2021-04-24T12:59:00+00:00,2021-04-24T12:59:00+00:00,ARRIVAL,4,1
4,arr6_3303,AS3303,ASA3303,Alaska Airlines,Los Angeles International,6,62,None,NaN,2021-04-24T14:05:00+00:00,2021-04-24T14:05:00+00:00,2021-04-24T13:47:00+00:00,2021-04-24T13:47:00+00:00,2021-04-24T13:47:00+00:00,ARRIVAL,1,1

In [25]:
# combine departure and arrival flights
all_flights_df = pd.concat([flights_d_df, flights_a_df])

all_flights_df.drop(columns = ['departure_airport', 'arrival_airport'])
all_flights_df = all_flights_df.dropna(subset = ['flight_number', 'iata', 'icao', 'airport_id'])

# sort columns for table insert
all_flights_df = all_flights_df[['flight_number', 'flight_type', 'iata', 'icao', 'airport_id', 'airline_id', \
                                 'terminal', 'gate', 'baggage', 'delay', 'scheduled', 'estimated', 'actual', \
                                 'estimated_runway', 'actual_runway' ]]


all_flights_df.index = np.arange(1, len(all_flights_df) + 1) #use index as flight id 
all_flights_df.reset_index(inplace = True) 
all_flights_df = all_flights_df.rename(columns = {"index": "flight_id"})  

all_flights_df.head()

,flight_id,flight_number,flight_type,iata,icao,airport_id,airline_id,terminal,gate,baggage,delay,scheduled,estimated,actual,estimated_runway,actual_runway
0,1,arr2_265,DEPARTURE,AS265,ASA265,213,1,1,HG,NaN,6.0,2021-04-24T14:35:00+00:00,2021-04-24T14:35:00+00:00,2021-04-24T14:40:00+00:00,2021-04-24T14:40:00+00:00,2021-04-24T14:40:00+00:00
1,2,arr3_535,DEPARTURE,WN535,SWA535,214,2,2,26,NaN,7.0,2021-04-24T18:35:00+00:00,2021-04-24T18:35:00+00:00,2021-04-24T18:42:00+00:00,2021-04-24T18:42:00+00:00,2021-04-24T18:42:00+00:00
2,3,arr4_510,DEPARTURE,NK510,NKS510,214,3,1,7,NaN,9.0,2021-04-24T18:40:00+00:00,2021-04-24T18:40:00+00:00,2021-04-24T18:49:00+00:00,2021-04-24T18:49:00+00:00,2021-04-24T18:49:00+00:00
3,4,arr5_215,DEPARTURE,UA215,UAL215,26,4,None,B47,NaN,11.0,2021-04-24T11:44:00+00:00,2021-04-24T11:44:00+00:00,2021-04-24T11:54:00+00:00,2021-04-24T11:54:00+00:00,2021-04-24T11:54:00+00:00
4,5,arr6_3303,DEPARTURE,AS3303,ASA3303,11,1,None,C6,NaN,6.0,2021-04-24T12:45:00+00:00,2021-04-24T12:45:00+00:00,2021-04-24T12:50:00+00:00,2021-04-24T12:50:00+00:00,2021-04-24T12:50:00+00:00

In [26]:
# print(all_flights_df.loc[(all_flights_df['flight_number'] == 'arr3_535')])

In [27]:
# flights insert df to table
insertvalues(conn, "flights", all_flights_df)

Values Succesfully Insert To flights

In [28]:
closeconnection(conn);

DB Connection Closed

In [29]:
print('Goodbye!')

Goodbye!